.gr__aboutus{
    position: relative;
}

.gr__aboutus-overlay{
position: absolute;
inset: 0;
}

.gr__aboutus-overlay img{
    width: 391px;
    height:415px;
    z-index:0;
}

.gr__aboutus-content{
    width:100%;
    z-index:2;
}

.gr__aboutus-content_about{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.gr__aboutus-content_knife{
    margin:2rem 4rem;
}

.gr__aboutus-content_knife img{
    height:910px;
}

.gr__aboutus-content_history{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
.gr__aboutus-content_about p, .gr__aboutus-content_history p{
    margin:2rem 0;
    color:var(--color-grey);
}

@media screen and (max-width:2000px){
    .gr__aboutus-content_knife img {
            height: 1110px;
        }
    
        .gr__aboutus-content_about p,
        .gr__aboutus-content_history p {
            margin: 4rem 0;
        }
}

@media screen and (max-width: 900px) {
    .gr__aboutus-content {
        flex-direction: column;
    }

    .gr__aboutus-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .gr__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}